body {
    margin: 0;
    padding: 0;
}

#game-screen{
    display: block;
}           

#gameOver, #playHUD {
    position: absolute;
    visibility: hidden;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    color: white;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.title {
    font-size: 80px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#restartButton {
    border-radius: 100px;
    color: white;
    border: 2px solid white;
}

#restartButton:hover {
    background-color: white;
    border: 2px solid white;
    color: rgb(255, 188, 64);
}

#scoreboard {
    margin: 0px;
    
}